/* Start Variabels */
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --main-p-color: #777;
  --section-background: #f6f6f6;
  --section-padding: 60px 0;
  --main-duration: 0.5s;
}
/* || End Variabels */
/* Start Global Rules */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.container {
  padding: 0 15px;
  margin: 0 auto;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.fa-youtube {
  color: hsl(0, 100%, 50%);
}
.fa-twitter {
  color: hsl(204, 100%, 50%);
}
/*

    Media

*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* || End Global Rules */
/* Start Componant */
.special-heading {
  font-size: 100px;
  font-weight: 800;
  text-align: center;
  color: #ebeced;
  letter-spacing: -3px;
  margin: 0;
}
.special-heading + p {
  margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
  color: #797979;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
}
/* || End Componant */

/* Start Header */
header {
  padding: 20px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
img[alt="logo"] {
  width: 70px;
}
.links {
  position: relative;
}
.icon {
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 28px;
  cursor: pointer;
}
.icon span {
  width: 100%;
  height: 2px;
  background-color: #333;
  align-self: flex-end;
  transition: var(--main-duration);
}
.icon:hover span {
  background-color: var(--main-color);
}
.icon span:nth-child(2) {
  width: 60%;
}
.icon:hover span:nth-child(2) {
  width: 100%;
}
.nav {
  display: none;
  position: absolute;
  right: 0;
  top: calc(100% + 20px);
  background-color: #f6f6f6;
  min-width: 200px;
  z-index: 1;
  box-shadow: 3px 3px 5px #0000001d;
}
.nav::before {
  content: "";
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: transparent var(--section-background) var(--section-background)
    transparent;
  right: 0;
  top: -15px;
  z-index: -1;
}
.nav li a {
  font-weight: 500;
  display: block;
  padding: 15px;
  color: #333;
  transition: var(--main-duration);
}
.nav li a:hover {
  padding-left: 25px;
  color: var(--main-color);
  background-color: var(--secondary-color);
}
.nav li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}
.links:hover .nav {
  display: block;
}
/* || End Header */
/* Start Landing */
#landing {
  position: relative;
  background-color: var(--section-background);
  min-height: calc(100vh - 68px);
  background-image: url("../images/landing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.intro-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  max-width: 100%;
  text-align: center;
}
.intro-text h1 {
  font-size: 50px;
  color: var(--main-color);
  margin: 0 !important;
}
.intro-text p {
  width: 90%;
  font-size: 14px;
  margin: 10px auto 0;
  line-height: 25px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--section-background);
}
/* || End Landing */
/* Start Features */
#features {
  padding: var(--section-padding);
  background-color: var(--section-background);
}
#features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.feat {
  text-align: center;
}
.feat i {
  color: var(--main-color);
}
.feat h3 {
  margin: 20px 0 15px;
  font-size: 16px;
}
.feat p {
  font-size: 14px;
  line-height: 1.7;
  color: var(--main-p-color);
  width: 70%;
  margin: 0 auto;
}
/* || End Features */
/* Start Services */
#services {
  padding: var(--section-padding);
}
.services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
  margin-top: 100px;
}
.srv {
  display: flex;
  margin-bottom: 40px;
}
.srv i {
  color: var(--main-color);
  flex-basis: 60px;
}
.srv .text {
  flex: 1;
}
.srv .text h3 {
  margin: 0 0 20px;
}
.srv .text p {
  font-size: 13px;
  line-height: 1.7;
  color: var(--main-p-color);
  max-width: 350px;
}
.col .image {
  text-align: center;
  position: relative;
}
.col .image img {
  width: 260px;
}
.col .image::before {
  content: "";
  position: absolute;
  width: 100px;
  height: calc(100% + 80px);
  background-color: var(--secondary-color);
  right: 0;
  top: -40px;
  z-index: -1;
}
@media (max-width: 1199px) {
  .col .image {
    display: none;
  }
}
@media (max-width: 767px) {
  .srv {
    flex-direction: column;
    text-align: center;
  }
  .srv .text p {
    margin: 0 auto;
  }
}
/* || End Services */
/* Start Portfolio */
#portfolio {
  padding: var(--section-padding);
  background-color: var(--section-background);
}
.portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  margin-top: 80px;
}
.portfolio-content .card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #99999943;
  transition: var(--main-duration);
}
.portfolio-content .card .info {
  position: absolute;
  background-color: #fff;
  padding: 20px;
  bottom: 0;
}
.portfolio-content .card .info h3 {
  margin-bottom: 15px;
}
.portfolio-content .card .info p {
  font-size: 13px;
  color: var(--main-p-color);
}
.portfolio-content .card:hover {
  transform: translateY(-15px) scale(1.1);
}
#portfolio button {
  display: block;
  margin: 50px auto 0;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 600;
  letter-spacing: 2px;
  border: none;
  color: var(--main-color);
  transition: var(--main-duration);
  box-shadow: 0 0 5px var(--secondary-color);
  outline: 2px solid var(--main-color);
}
#portfolio button:hover {
  background-color: transparent;
  background-color: var(--secondary-color);
  outline: none;
}
/* || End Portfolio */
/* Start About */
#aAbout {
  padding: var(--section-padding);
}
.about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 80px;
}
.about-content .image {
  position: relative;
  width: 250px;
  height: 375px;
}
.about-content .image::before,
.about-content .image::after {
  content: "";
  position: absolute;
  z-index: -1;
}
.about-content .image::before {
  width: 100px;
  background-color: #ebeced;
  height: calc(100% + 80px);
  left: 0;
  top: -40px;
  transform: translateX(-50%);
}
.about-content .image::after {
  top: -40px;
  content: "";
  position: absolute;
  width: 120px;
  height: 300px;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  z-index: -1;
  right: -150px;
}
.about-content .text {
  flex-basis: calc(100% - 500px);
}
.about-content .text p:first-child {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.7;
  margin-bottom: 25px;
}
.about-content .text p:last-child {
  color: var(--main-p-color);
  line-height: 1.7;
  margin-top: 25px;
}
hr {
  display: inline-block;
  width: 50%;
  border: none;
  height: 3px !important;
  background-color: var(--main-color);
}
@media (max-width: 991px) {
  .about-content {
    flex-direction: column-reverse;
  }
  .about-content .image {
    margin: 80px auto 0;
  }
  .about-content .text {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .about-content .image::before,
  .about-content .image::after {
    display: none;
  }
}
/* || End About */
/* Start Contact */
#contact {
  padding: var(--section-padding);
  background-color: var(--section-background);
}
#contact .info {
  margin-top: 70px;
  text-align: center;
}
#contact .info h1 {
  color: var(--secondary-color);
  text-transform: capitalize;
  font-weight: 800;
}
#contact .info a {
  font-size: 32px;
  font-weight: 800;
  color: var(--main-color);
}
#contact .social {
  padding: 20px 0;
}
#contact .social i {
  font-size: 20px;
  padding-left: 20px;
}
/* || End Contact */
/* Start Footer */
footer {
  padding: 20px 0;
  background-color: var(--secondary-color);
  text-align: center;
  color: var(--section-background);
}
footer span {
  color: var(--main-color);
  font-weight: 600;
}
/* || End Footer */
